.footerSection {
  position: relative;
  background-color: #9b4819;
  overflow: hidden;

  .container {
    padding: 80px 60px;
    text-align: left;

    h3 {
      margin-bottom: 40px;
      font-size: 2.5rem;
      font-weight: 700;
      font-style: oblique;
      color: #f4f1e8;
      width: 50%;
      padding-bottom: 20px;
      border-bottom: solid #f4f1e8;
    }

    .socialContainer {
      display: flex;
      flex-direction: column;
      //   align-items: center;
      gap: 8px;

      a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 8px;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
